# Archivos de Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Entorno virtual
env/
venv/
.venv/

# Archivos de configuración locales
*.sqlite3
db.sqlite3

# Archivos de Django
/staticfiles/
/media/

# Configuración de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
